<launch>
  <arg name="cloud_topic" default="/hdl_graph_slam/map_points"/>

  <node pkg="octomap_slice" type="octomap_slice_node" name="octomap_slice" output="screen">
    <param name="octomap_topic" type="string" value="/octomap_binary" />
  </node>

  <include file="$(find octomap_slice)/launch/octomap_from_pcl.launch">
        <arg name="cloud_topic" value="$(arg cloud_topic)"/>
    </include>

</launch>